@media (max-width: 1200px) {
  .header ul li {
    margin: 0.5rem;
    font-size: 1rem;
  }

  .page-one {
    background-size: cover;
    display: flex;
  }

  .logo {
    height: 4rem;
    margin: 1rem;
  }

  .slogan {
    font-size: 1rem;
  }

  .text-segment-page-one {
    height: 25rem;
  }

  .text-segment-page-one img {
    height: 12rem;
  }

  /* page two below */

  .text-segment-page-two {
    width: 100%;
    align-items: center;
    justify-content: center;
    color: rgb(238, 238, 238);
    color: #0f3d66;
    margin-top: 6rem;
  }

  .text-segment-page-two h1 {
    font-size: 2rem;
  }

  .ordinarie-öppettider {
    margin: 2rem;
  }
  .ordinarie-öppettider h2 {
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  .helgtider {
    margin: 2rem;
  }

  .öppettider ul li {
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }
  .helgtider h2 {
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  .slogan-page-two {
    font-size: 2.5rem;
    margin-top: 4rem;
  }

  .slogan-page-two img {
    height: 2.2rem;
    padding-left: 1rem;
  }

  /* PAGE THREE BELOW */

  .text-segment-page-three {
    width: 100%;
    justify-content: center;
    color: #0f3d66;
    margin-top: 5rem;
  }
  .text-segment-page-three h1 {
    font-size: 1rem;
  }

  .om-oss {
    width: 80%;
    margin-top: 1rem;
  }

  .bilder {
    margin: 1rem;
  }
  .bilder img {
    height: 20rem;
    margin: 0.2rem;
    border-radius: 0.2rem;
  }

  .om-oss p {
    margin: 1rem;
  }

  .hidden-scroll-div {
    top: 0;
    height: 10%;
  }
}
