@media (max-width: 1024px) {
  .bilder {
    margin: 1rem;
  }
  .bilder img {
    height: 17rem;
    margin: 0.2rem;
    border-radius: 0.2rem;
  }

  .om-oss p {
    margin: 1rem;
  }

  .page-one {
    background-position: right 0rem bottom 60rem;
  }
}
